button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    background-color: #f5466f;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}